.cambiar-password {
    padding-top: 50px;
}

.cambiar-password .tarjeta-body {
    max-width: 400px;
    min-width: 200px;
}

.cambiar-password .contenedor-mensaje-error {
    border: 1px solid black;
    border-radius: 6px;
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    background-color: white;
    text-align: center;
    max-width: 400px;
}

.cambiar-password .contenedor-mensaje-error h1 {
    font-size: 24px;
}