.carrito {
    position: fixed;
    height: 100%;
    width: 325px;
    padding-top: 20px;
    transition: right 1s;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
    background-color: #1579bf;
    z-index: 13;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.carrito .volverA {
    width: 20px;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    transform: rotate(180deg);
}

.carrito-botones {
    display: flex;
    justify-content: space-around;
}

.carrito-botones button {
    border-radius: 15px;
}

.carrito-botones .finalizar {
    color: white;
    background-color: #ea2a2a;
}

.carrito-botones .finalizar:hover {
    background-color: #ff0000;
}

.carrito-botones .finalizar:disabled {
    color: #c6c6c6;
}

.carrito-botones .cancelar {
    color: black;
    background-color: #ffffff;
}

.carrito-botones .cancelar:hover {
    background-color: #e3e3e3;
}

.carrito-compras {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
}

.carrito-compras .carrito-item {
    padding: 10px;
    background-color: white;
    margin: 2px 0;
    border-radius: 6px;
}

.carrito-compras .carrito-item-top {
    display: flex;
    align-items: center;
}

.carrito-compras .carrito-item img {
    width: 45px;
    border-radius: 50%;;
    margin-right: 15px
}

.carrito-compras .carrito-item h2 {
    font-size: 18px;
}

.carrito-compras .carrito-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.carrito-compras .half-circle-spinner {
    height: 30px;
    width: 30px;
    margin-left: 40px;
}

.carrito-compras .loader-borrando .half-circle-spinner{
    height: 40px;
    width: 40px;
    margin: 0 auto;
}


