.inicio {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "tarjeta-menu tarjeta-menu";
}

.inicio .tarjeta-menu .tarjeta img {
    max-width: 300px !important;
    border-radius: 6px;
}

.contenedor-contrasenia {
    position: relative;
}

.contenedor-contrasenia .ver-password {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 9px;
}