/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.navegador {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  z-index: 12;
  width: 100vw;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #1579bf;
  align-items: center;
}

.navegador .activo {
  text-shadow: 3px 3px black;
}

.navegador .icono-material {
  margin: 0 10px;
  color: white;
  cursor: pointer;
}

.navegador .no-mostrar {
  display: none !important;
}

.navegador .logo {
  height: 30px;
  width: 30px;
  margin: 10px 0 10px 30px;
  cursor: pointer;
}

.navegador .itemMenu {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.navegador .itemMenu:hover {
  text-decoration: none;
}

.navegador .itemMenu:focus {
  background-color: transparent;
}

.navegador button,
.navegador button:hover,
.navegador .btn-primary:not(:disabled):not(.disabled).active:focus,
.navegador .btn-primary:not(:disabled):not(.disabled):active:focus,
.navegador .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  background-color: transparent;
  outline: none;
  border: none;
}

.navegador .derecha {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegador .derecha-responsive {
  display: none;
}

.navegador .izquierda a,
.navegador .derecha a {
  display: none;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .navegador .derecha .grande {
    display: none;
  }
  .navegador .derecha .mi-perfil {
    cursor: unset;
    position: fixed;
    margin-right: 0;
    right: 15px;
  }
}

@media (max-width: 849px) {
  .navegador .derecha, .navegador .izquierda .itemMenu {
    display: none;
  }
  .navegador .derecha-responsive {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .navegador .derecha-responsive img {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
  }
  .navegador .menu-responsive-collapse {
    width: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 20px;
    padding-left: 10px;
    position: fixed;
    top: 0px;
    height: 100%;
    right: -500px;
    background-color: #1579bf;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
    transition: right 0.9s;
    text-align: left;
  }
  .navegador .menu-responsive-collapse .itemMenu {
    text-align: left;
    margin: 5px 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navegador .izquierda a,
  .navegador .derecha a {
    display: block;
  }

  .navegador .izquierda {
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  .navegador .izquierda .itemMenu {
    margin-left: 20px;
  }

  .navegador .derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .navegador .usuario-logueado {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 30px;
    color: white;
    font-weight: bold;
  }

  .navegador .usuario-logueado .logout {
    margin-bottom: 0;
    cursor: pointer;
  }
}
