.tarjeta-menu {
    display: inline-block;
    margin: 15px;
    height: auto;
    color: black;
    position: relative;
}

.tarjeta-menu:hover {
    color: black;
    text-decoration: none;
}

.tarjeta-menu:hover span {
    font-weight: bold;
}

.tarjeta-menu .rol {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 13px;
    background-color: red;
    color: white;
    border-radius: 6px;
    padding: 0 3px;
    width: 75px;
}

.tarjeta-menu .tarjeta {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    margin: 0 auto;
    padding: 20px;
    -webkit-box-shadow: 0px -1px 20px 4px rgba(230,207,230,1);
    -moz-box-shadow: 0px -1px 20px 4px rgba(230,207,230,1);
    box-shadow: 0px -1px 20px 4px rgba(230,207,230,1);
    max-width: 250px;
    width: 250px;
    height: 250px;
    text-align: center;
}

.tarjeta-menu .tarjeta h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.tarjeta-menu .tarjeta p {
    text-align: justify;
    font-size: 17px;
    margin: 0;
}

.tarjeta-menu .tarjeta img {
    margin: 15px 0;
    max-height: 70px;
    max-width: 70px;
    width: auto;
}