body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.contenedor {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/img/fondo.jpg");
  height: auto;
  min-height: 100vh;
  transition: width 1s;
}

.tarjeta-body {
  background-color: white;
  border-radius: 6px;
  margin: 0 auto;
  display: block;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
}

.listado {
  border-top: 5px solid #006187;
}

.tarjeta-body h4 {
  text-align: left;
  margin-bottom: 10px;
}

.tarjeta-body .olvide-password {
  cursor: pointer;
  text-decoration: underline;
}

.tarjeta-body .email-valido {
  font-size: 12px;
  color: red;
}

.tarjeta-body .boton-submit {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

.forzar-blur {
  filter: blur(5px);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 450px) {
  .tarjeta-body {
    width: 250px !important;
  }
}
